.navbar {
  height: 100px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ffffff;
  width: auto;
  box-shadow: 0 5px 10px -2px #dddddd !important;
  text-align: right;
}
.col {
  padding-right: 0px !important;
  padding-left: 0px !important;

}
.navbar-brand {
  padding-right: 50%;
  padding-left: 20px;
}

.collapse {
  text-align: right;
  position: relative;
}

html, body{
  font-family: "Roboto Slab", serif !important;

}

.container {
  overflow: hidden;
}

div.showDiv{
display: flex !important ;

}

div.filterDiv {
  width: auto;
  display: none ;
}

.image {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  
}
img{
  max-width: 100%;
  height: auto;

}


.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

#myBtnContainer {
  text-align: center;
}

.texto-meio {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 150px;
}

.footer2{
  background-color: #e7e7e7;

}
.largura{

  margin: 0px auto;
  width: 940px;
 
}

@media (max-width: 576px) {   
 
  .image {
    margin-top: 20px;

    margin-bottom: 10px;
    
  }
  #myBtnContainer {
    margin-left: 2px;
    font-size: small;
  }

}

@media (max-width: 768px) { 
 
  .image {
    margin-top: 10px;
    margin-bottom: 10px;
 
   
    
  }
}